.chat-input-text{
    margin: 14px 0 0 14px;
    height: 25px;
    width: 70%;
    border: 0;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    background-color: inherit;
    color: inherit;
}

.chat-input-text::-webkit-input-placeholder {
    color: inherit;
  }
  .chat-input-text::-moz-placeholder {
    color: inherit;
  }
  .chat-input-text::-ms-input-placeholder {
    color: inherit;
  }

  .chat-input-submit{
      margin: 14px 12px;
      float: right;
      background-color: inherit;
      color: inherit;
      font-size: 24px;
      border: 0;
      outline: none;
  }