.chat-config {
    padding: 20px;
  }
  .btn {
    padding: 5px;
    margin: 0px 2px;
    border: 1px solid #dedede;
    outline: none;
  }
  .btn-active {
    border: 1px solid #a0a0a0;
  }
  .btn:focus {
    border: 1px solid #333;
  }