<div class="chat-config">
  {{text}}
  <button *ngFor="let item of themes"
          class="btn" [class.btn-active]="item === theme"
          (click)="setTheme(item)">
    {{item}}
  </button>
</div>